{% extends "cust/base.html" %}
{% load static %}
{% block content %}



<div class="container-sm ">
    <img src="{% static 'cust/images/fd1.jpg' %}" class="img-fluid my-4  " alt="...">

<h2 class="text-center">
    You are just few steps away to secure your future
</h2>
<div class="col-6 mx-auto my-5 " >
    <form action="" name="form" method="POST" novalidate>
    {% for field in  form %}
    {% csrf_token %}
    <div class="mb-3 row">
      <div class="col-3 col-form-label"> {{field.label_tag}}</div>
      <div class="col-9">
       {{field}}
       {{field.errors}}
      </div>
    </div>
    {% endfor %}
 
          <input type="submit" class=" my-1  btn  border-info text-info "  value="proceed">
        
     
    </form>
  </div>


</div>


{% endblock content %}