{% extends "cust/base.html" %}
{% block content %}

<h1 class="m-5 text-muted"> Change Passsword</h1>

<div class="m-5">
    <form action="" method="POST" novalidate>
    {% for field in  form %}
    {% csrf_token %}
    <div class="mb-3 row">
      <div class="col-2 col-form-label"> {{field.label_tag}}</div>
      <div class="col-10">
       {{field}}
       {{field.errors}}
      </div>
    </div>
    {% endfor %}
  <div>
       <input type="submit" class=" my-1 text-light btn  btn-info "  value="Submit">
      
    </div> 
    </form>
  </div>
{% endblock content %}
